/*
 * HEADER component styles
 */

.uppercase {
	text-transform: uppercase;
}

.bold {
	font-weight: bold;
}

.border-bottom {
	border-bottom: 1px solid black; /* TODO: change color to suit background */
}
