/*
 * HEADER component styles
 */

.uppercase {
	text-transform: uppercase;
}

.bold {
	font-weight: bold;
}

.border-bottom {
	border-bottom: 1px solid lightgrey;
}

#header {
	opacity: 0;
	transition: all 0.3s;
}

#header.active {
	opacity: 1;
	margin: auto auto 5em;
}
